@page
@model GroupStudyV3.Pages.StudentAssignments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudentAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentAssignment.StudentAssignmentId" />
            <div class="form-group">
                
                <label asp-for="StudentAssignment.StudentId" class="control-label"></label>
                <select asp-for="StudentAssignment.StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentAssignment.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="StudentAssignment.AssignmentId" class="control-label"></label>
                <select asp-for="StudentAssignment.AssignmentId" class="form-control" asp-items="ViewBag.AssignmentId"></select>
                <span asp-validation-for="StudentAssignment.AssignmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="StudentAssignment.CreatedOn" class="control-label"></label>
                <input asp-for="StudentAssignment.CreatedOn" class="form-control" />
                <span asp-validation-for="StudentAssignment.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
